# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Create Variables
school_count = school_data_complete['school_name'].nunique()
student_count = school_data_complete['Student ID'].nunique()
total_budget = school_data['budget'].sum()
avg_math = school_data_complete['math_score'].mean()
avg_reading = school_data_complete['reading_score'].mean()
passing_rate = (avg_math + avg_reading)/2
passing_math = school_data_complete.loc[school_data_complete['math_score'] >= 70]
passing_percent_math = ((passing_math['Student ID'].nunique())/student_count)*100
passing_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
passing_percent_reading = ((passing_reading['Student ID'].nunique())/student_count)*100

#Create Series
district_data = {'Total Schools': school_count,
                             'Total Students' : "{:,}".format(student_count),
                             'Total School Budget' : "${:,}".format(total_budget),
                             'Average Math Score' : "{:.2f}%".format(avg_math),
                             'Average Reading Score' : "{:.2f}%".format(avg_reading),
                             '% Passing Math' : "{:.2f}%".format(passing_percent_math),
                             '% Passing Reading' : "{:.2f}%".format(passing_percent_reading),
                             '% Overall Passing Rate': "{:.2f}%".format(((avg_math + avg_reading)/2))}

#Create DataFrame from Series
district_summary = pd.DataFrame(district_data, index = [''])

district_summary

,Total Schools,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
,15,"39,170","$24,649,428",78.99%,81.88%,74.98%,85.81%,80.43%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [3]:
grouped_school_data_df = school_data_complete.groupby(['school_name'])

school_type = grouped_school_data_df['type'].first()
total_students = grouped_school_data_df['Student ID'].nunique()
school_budget = grouped_school_data_df['budget'].first()
avg_math = grouped_school_data_df['math_score'].mean()
avg_reading = grouped_school_data_df['reading_score'].mean()
Per_Student_Budget = (school_budget/total_students)

#filter and groupby school name math scores above 70
pass_math_data = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
pass_math_grouped = pass_math_data.groupby(['school_name'])
pass_math_count = pass_math_grouped['Student ID'].nunique()

#filter and groupby school name reading scores above 70
pass_reading_data = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
pass_reading_grouped = pass_reading_data.groupby(['school_name'])
pass_reading_count = pass_reading_grouped['Student ID'].nunique()

#Create Summary Table as a DataFrame
school_summary_df = pd.DataFrame({'School Type': school_type,
                             'Total Students' : total_students.map("{:,}".format),
                             'Total School Budget' : school_budget.map("${:,}".format),
                             'Per Student Budget' : (school_budget/total_students).map("${:.0f}".format),
                             'Average Math Score' : avg_math.map("{:.3f}%".format),
                             'Average Reading Score' : avg_reading.map("{:.3f}%".format),
                             '% Passing Math' : ((pass_math_count/total_students)*100).map("{:.3f}%".format),
                             '% Passing Reading' : ((pass_reading_count/total_students)*100).map("{:.3f}%".format),
                             'Overall Passing Rate': ((((pass_math_count/total_students)+(pass_reading_count/total_students))/2)*100).map("{:.3f}%".format)})

school_summary_df.index.names = ['']

In [4]:
# Top 5 performing Schools (by Passing Rate)

top_performing_schools = school_summary_df.sort_values(by = 'Overall Passing Rate', ascending=False)
top_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.062%,83.976%,94.133%,97.040%,95.587%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.418%,83.849%,93.272%,97.309%,95.291%
Pena High School,Charter,962,"$585,858",$609,83.840%,84.045%,94.595%,95.946%,95.270%
Griffin High School,Charter,"1,468","$917,500",$625,83.351%,83.817%,93.392%,97.139%,95.266%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.274%,83.989%,93.868%,96.540%,95.204%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [5]:
# Bottom 5 performing Schools (by Passing Rate)

top_performing_schools = school_summary_df.sort_values(by = 'Overall Passing Rate', ascending=True)
top_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637,76.843%,80.745%,66.367%,80.220%,73.293%
Figueroa High School,District,"2,949","$1,884,411",$639,76.712%,81.158%,65.988%,80.739%,73.364%
Huang High School,District,"2,917","$1,910,635",$655,76.629%,81.183%,65.684%,81.316%,73.500%
Johnson High School,District,"4,761","$3,094,650",$650,77.072%,80.966%,66.058%,81.222%,73.640%
Ford High School,District,"2,739","$1,763,916",$644,77.103%,80.746%,68.310%,79.299%,73.804%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
#Groupby school_name and grade
school_data_means = school_data_complete.groupby(['school_name', 'grade']).mean().reset_index()

#create pivot table to arrane by school name and grades
pivot_school = school_data_means.pivot(index='school_name', columns='grade')

#filter to avg math scores
math_summary = pivot_school['math_score']

#create DataFrame
math_summary = pd.DataFrame(math_summary[['9th', '10th', '11th', '12th']]).rename_axis(index=(None), columns=None)

#format
#math_summary = math_summary.astype(float).applymap(lambda x: "{:.3f}%".format(x))
math_summary = math_summary.astype(float).applymap("{:.3f}%".format)


math_summary

                           9th     10th     11th     12th
Bailey High School     77.084%  76.997%  77.516%  76.492%
Cabrera High School    83.095%  83.155%  82.766%  83.277%
Figueroa High School   76.403%  76.540%  76.884%  77.151%
Ford High School       77.361%  77.672%  76.918%  76.180%
Griffin High School    82.044%  84.229%  83.842%  83.356%
Hernandez High School  77.438%  77.337%  77.136%  77.187%
Holden High School     83.787%  83.430%  85.000%  82.855%
Huang High School      77.027%  75.909%  76.447%  77.226%
Johnson High School    77.188%  76.691%  77.492%  76.863%
Pena High School       83.625%  83.372%  84.328%  84.122%
Rodriguez High School  76.860%  76.612%  76.396%  77.691%
Shelton High School    83.421%  82.917%  83.383%  83.779%
Thomas High School     83.590%  83.088%  83.499%  83.497%
Wilson High School     83.086%  83.724%  83.195%  83.036%
Wright High School     83.265%  84.010%  83.837%  83.645%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
#filter to avg math scores
reading_summary = pivot_school['reading_score']

#create DataFrame
reading_summary = pd.DataFrame(reading_summary[['9th', '10th', '11th', '12th']]).rename_axis(index=(None), columns=None)

#format
reading_summary = reading_summary.astype(float).applymap("{:.3f}%".format)

reading_summary

                           9th     10th     11th     12th
Bailey High School     81.303%  80.907%  80.946%  80.912%
Cabrera High School    83.676%  84.253%  83.788%  84.288%
Figueroa High School   81.199%  81.409%  80.640%  81.385%
Ford High School       80.633%  81.263%  80.404%  80.662%
Griffin High School    83.369%  83.707%  84.288%  84.014%
Hernandez High School  80.867%  80.660%  81.396%  80.857%
Holden High School     83.677%  83.325%  83.816%  84.699%
Huang High School      81.290%  81.512%  81.417%  80.306%
Johnson High School    81.261%  80.773%  80.616%  81.228%
Pena High School       83.807%  83.612%  84.336%  84.591%
Rodriguez High School  80.993%  80.630%  80.865%  80.376%
Shelton High School    84.123%  83.442%  84.374%  82.782%
Thomas High School     83.729%  84.254%  83.586%  83.831%
Wilson High School     83.940%  84.021%  83.765%  84.318%
Wright High School     83.833%  83.813%  84.156%  84.073%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
#Creat clean dataFrame (no formatting)
bins_summary_df = pd.DataFrame({'School Type': school_type,
                             'Total Students' : total_students,
                             'Total School Budget' : school_budget,
                             'Per Student Budget' : (school_budget/total_students),
                             'Average Math Score' : avg_math,
                             'Average Reading Score' : avg_reading,
                             '% Passing Math' : ((pass_math_count/total_students)*100),
                             '% Passing Reading' : ((pass_reading_count/total_students)*100),
                             'Overall Passing Rate': ((((pass_math_count/total_students)+(pass_reading_count/total_students))/2)*100)})

In [9]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
labels = ["<$585", "$585-615", "$615-645", "$645-675"]

In [10]:
#Add column Spending Ranges (Per Student) to bins summary df, assing lables based on bins
bins_summary_df['Spending Ranges (Per Student)'] = pd.cut(bins_summary_df["Per Student Budget"], spending_bins, labels=labels)

#groupby Spending Ranges (Per Student)
summary_data_spend = bins_summary_df.groupby("Spending Ranges (Per Student)").mean()

#create dataFrame
summary_data_spend = summary_data_spend[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', 'Overall Passing Rate']]

#Format
summary_data_spend = summary_data_spend.astype(float).applymap("{:.3f}%".format)

summary_data_spend

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455%,83.934%,93.460%,96.611%,95.035%
$585-615,83.600%,83.885%,94.231%,95.900%,95.066%
$615-645,79.079%,81.891%,75.668%,86.107%,80.887%
$645-675,76.997%,81.028%,66.165%,81.134%,73.649%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [11]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [12]:
#Add column School Size to bins summary df, assing lables based on bins
bins_summary_df['School Size'] = pd.cut(bins_summary_df["Total Students"], size_bins, labels=size_labels)

#groupby School Size
summary_data_size = bins_summary_df.groupby('School Size').mean()

#create dataFrame
summary_data_size = summary_data_size[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', 'Overall Passing Rate']]

#Format
summary_data_size = summary_data_size.astype(float).applymap("{:.3f}%".format)

summary_data_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.822%,83.930%,93.550%,96.099%,94.825%
Medium (1000-2000),83.375%,83.864%,93.600%,96.791%,95.195%
Large (2000-5000),77.746%,81.344%,69.963%,82.767%,76.365%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [13]:
#Create dataFrame
scores_by_school_type = bins_summary_df[['School Type', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', 'Overall Passing Rate']]

#Groupby School Type
scores_by_school_type = scores_by_school_type.groupby("School Type").mean()

#Format
scores_by_school_type = scores_by_school_type.astype(float).applymap("{:.3f}%".format)

scores_by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.474%,83.896%,93.621%,96.586%,95.104%
District,76.957%,80.967%,66.548%,80.799%,73.674%